<div class="menu">
    <button class="boton">Inicio</button>
    <button class="boton">Registro</button>
    <button class="boton">Login</button>
    <input type="button" value="Contacto" class="boton">
</div>