*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    position: fixed;
    left: 0;
    width: 64px;
    height: 100vh;
    background-color: rgb(10, 46, 118);
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    gap: 20px;
}
.boton{
    width: 64px;
    height: 64px;
    border-radius:50%
}
.pagina{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 25vh 25vh 25vh 25vh;
        
}
.imagen{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end:5;
    
}
.formulario{
    grid-column-start: 8;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end:5;
    background-color: brown;
}
.form{
    width: 70%;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 3fr 1fr;
    background-color: cadetblue
}
/*
.logo{
    background-color: brown;
    grid-column-start:10;
    grid-column-end:12;
    grid-row-start:1;
    grid-row-end:2;
}*/